<h3>Single selection with custom clear icon</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankCtrl" placeholder="Bank">
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl" [preventHomeEndKeyPropagation]="true">
          <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
        </ngx-mat-select-search>
      </mat-option>
      @for (bank of $filteredBanks(); track $index)
      {
        <mat-option [value]="bank">
          {{bank.name}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Bank: {{bankCtrl.value?.name}}
</p>
