<h3>Integration with <a href="https://github.com/HaidarZ/ng-mat-select-infinite-scroll" target="_blank">ng-mat-select-infinite-scroll</a>
</h3>

<p>
  Selected Bank: {{data.selectedCtrl?.value?.name}}
</p>

<!-- Disabled due to incompatibility of ng-mat-select-infinite-scroll with Angular 13. -->
<!--
<mat-form-field>
  <mat-select #matSelectInfiniteScroll
              msInfiniteScroll
              (infiniteScroll)="data.getNextBatch()"
              [formControl]="data.selectedCtrl"
              placeholder="Select Something">
    <mat-option>
      // disableScrollToActiveOnOptionsChanged should be set to true
      <ngx-mat-select-search
        [formControl]="data.searchCtrl"
        placeholderLabel="search"
        [disableScrollToActiveOnOptionsChanged]="true"
        noEntriesFoundLabel="No entry matches">
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let bank of data.filteredBatchedData$ | async"
                [value]="bank">
      {{bank.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
