<mat-toolbar color="primary">
  Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
  <h1>ngx-mat-select-search</h1>
  <p>This library provides an angular component providing an input field for searching / filtering
    <a href="https://material.angular.io/components/select/overview" target="_blank">MatSelect</a>
    options of the <a href="https://material.angular.io">Angular Material</a> library.</p>

  <p><a href="https://github.com/bithost-gmbh/ngx-mat-select-search" target="_blank">https://github.com/bithost-gmbh/ngx-mat-select-search</a></p>

  <h2>Examples</h2>

  <h3>Single selection</h3>
  <p>
    <mat-form-field>
      <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
        <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
          {{bank.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    Selected Bank: {{bankCtrl.value?.name}}
  </p>

  <h3>Multiple selection</h3>
  <p>
    <mat-form-field>
      <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
          {{bank.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    Selected Banks:
  </p>
  <ul *ngFor="let bank of bankMultiCtrl?.value">
    <li>{{bank.name}}</li>
  </ul>
  <span class="version-info">Current build: {{version.full}}</span>
</div>
