<h3>Tooltip on the Select All Checkbox</h3>
<p>
  <mat-form-field color="accent">
    <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
      <ngx-mat-select-search [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)"
        [formControl]="bankMultiFilterCtrl" [toggleAllCheckboxTooltipMessage]="tooltipMessage"
        [toogleAllCheckboxTooltipPosition]="'above'"></ngx-mat-select-search>
      <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>