
<h3>Multiple selection</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true">
      <mat-option>
        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl" />
      </mat-option>
      @for(bank of $filteredBanks(); track $index)
      {
        <mat-option [value]="bank">
          {{bank.name}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Banks:
</p>
<ul >
  @for(bank of bankMultiCtrl.value; track $index)
  {
    <li>{{bank.name}}</li>
  }
</ul>
