
<h3>Multiple selection with Select All Checkbox</h3>
<p>
  <mat-form-field color="accent">
    <mat-select [formControl]="banks.selectedCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
      <mat-option>
        <ngx-mat-select-search [showToggleAllCheckbox]="true"
                               [toggleAllCheckboxIndeterminate]="banks.isIndeterminate"
                               [toggleAllCheckboxChecked]="banks.isChecked"
                               (toggleAll)="banks.toggleSelectAll($event)"
                               [formControl]="banks.searchCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let bank of banks.filtered | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Banks:
</p>
<ul *ngFor="let bank of banks.selectedCtrl?.value">
  <li>{{bank?.name}}</li>
</ul>
