<h3>Multiple selection with Select All Checkbox</h3>
<p>
  <mat-form-field color="accent">
    <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
      <mat-option>
        <ngx-mat-select-search [showToggleAllCheckbox]="true"
                               [toggleAllCheckboxIndeterminate]="$isIndeterminate()"
                               [toggleAllCheckboxChecked]="$isChecked()"
                               [formControl]="bankMultiFilterCtrl"
                               (toggleAll)="toggleSelectAll($event)"/>
      </mat-option>
      @for(bank of $filteredBanks(); track $index)
      {
        <mat-option [value]="bank">
          {{bank.name}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Banks:
</p>
<ul>
  @for(bank of bankMultiCtrl.value; track $index)
  {
    <li>{{bank.name}}</li>
  }
</ul>
