<h3>Single selection with option groups</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankGroupsCtrl" placeholder="Bank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankGroupsFilterCtrl" />
      </mat-option>
      @for(group of $filteredBankGroups(); track $index)
      {
        <mat-optgroup [label]="group.name">
          @for(bank of group.banks; track $index)
          {
            <mat-option [value]="bank">
              {{bank.name}}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Bank: {{bankGroupsCtrl.value?.name}}
</p>
