/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-option[aria-disabled=true].contains-select-search {
  /* let move mat-select-search at the top of the dropdown. As option is disabled, there will be no-ripple hence safe. */
  position: static;
  padding: 0;
}
